@model Survey
@{
    ViewData["Title"] = "NewSurvey";
    List<Park> parks = (List<Park>)ViewData["parks"];
    List<string> states = (List<string>)ViewData["States"];
    List<string> activityLevels = (List<string>)ViewData["ActivityLevels"];

}

<form method="post" asp-controller="survey" asp-action="newsurvey">

    <div class="survey-field">
        <div>
            <label for="park-dropdown">Favorite National Park :</label>
            <select class="park-dropdown" asp-for="ParkCode">

                @foreach (Park park in parks)
                {
                    <option value="@park.ParkCode">@park.ParkName</option>
                }
            </select>
        </div>

        <div>
            <label asp-for="EmailAddress">Email Address :</label>
            <input asp-for="EmailAddress" type="text" />
            <span asp-validation-for="EmailAddress"></span>
        </div>

        <div>
            <label for="state">State of Residence :</label>
            <select class="state" asp-for="State">
                @foreach (string state in states)
                {
                    <option value="@state">@state</option>
                }
            </select>
        </div>
        <div class="activity">
            <label for="activity">Activity Level :</label>
            @foreach (string level in activityLevels)
            {
                <input type="radio" name="ActivityLevel" value="@level" />@level<br>
            }
        </div>
    </div>
    <span></span>
    <input class="submit" type="submit" value="Submit" />
</form>

